//** Colors***
$text-color:#4B4141;
$header-height:60px;
$theme-color: darkblue;
$secondary-color: orange;
$ternary-color:#ccf962;
$menu-item-color: white;
$link-color:$secondary-color;

//** Fonts ***
$text-font: Verdana, Arial,sans-serif;
$headline-font:'Palatino Linotype', Georigia, serif;

// *** SiZES ***
$content-width:960px;
$header-height:60px;
$footer-height: 90px;
