/* You can add global styles to this file, and also import other style files */
@import "partials/variables";
@import "partials/mixins";
@import "partials/function";

@include google-font("Titillium-Web");

%heightlight {
  font-style:italic;
}

.sub-title {
  @extend %heightlight;
  font-size: em(15px);
}

.error {
color:red;
}
.critical-error {
  @extend .error;
  bottom: 1px solid red;
  font-style:italic;
  // font-weight:italic;
}
.cta-button {
  @extend.warning-button;
  @extend.error;
  @include rounded;
  font-weight:bold;
}
body {
  font-family: sans-serif;
  color: $text-color;
  @include large-screens {
    font-size:155%;
  }
}
.warning-button {
  @include warning;
  padding: 8px 10px;
  &:hover {
    color: lighten( $link-color,  15%);
    }
}

h1,
h2,
h3,
h4 {
  font-family: $headline-font;
  font-size:em(25px);

}
h2 {
@include large-font;
@extend .sub-title
}
p {
  font-family: $text-font;
}

a {
  color: $link-color;
  &:hover {
    color: darken( $link-color,  15%);
  }
}

#header {
@include box;
  height: $header-height;
  background-color: $theme-color;
  #main-menu {
    a {
      color: $menu-item-color;
    }
  }

  #logo {
  }
}

#main {
  #content {
    @include box;

  }

  #sidebar {
  }
}

#footer {
  height: $footer-height;
}
